@page "/"
<h1>Welcome to BlazorBits</h1>
<p>
	This is a testing ground for Blazor-related components, extensions and code. Please do feed back or contribute at the BlazorBits repo below.
</p>
<div class="alert alert-secondary" role="alert">
	View the source code here: <a href="https://github.com/BlazorBits/BlazorBits">https://github.com/BlazorBits/BlazorBits</a>
</div>

<p>
	Select a component from the left.
</p>
