@page "/"
<h1>Welcome to BlazorBits</h1>
<p>
	This is a testing ground for Blazor-related components, extensions and code. Please do feed back or contribute at the BlazorBits repo below.
</p>
<p>
	These pages are currently hosted using GitHub Pages as described at the bottom of the <a href="https://blazor.net/docs/host-and-deploy/index.html#github-pages">Blazor Host and deploy documentation</a>.<br />
	This requires a little addition to the index.html and an additional 404.html file to handle redirects if visiting Blazor sub-url routes directly.
</p>

<div class="alert alert-secondary" role="alert">
	View the source code here: <a href="https://github.com/BlazorBits/BlazorBits">https://github.com/BlazorBits/BlazorBits</a>
</div>

<p>
	Select a component from the left.
</p>
